.hover-fade {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.hover-fade:hover {
    transform: scale(1.1);
}

.modal {
    display: none; /* デフォルトで非表示 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.modal-overlay {
    display: none; /* デフォルトで非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(199, 199, 199, 0.5);
    z-index: 999;
}